version: '2.1'

executors:
  java17:
    docker:
      - image: cimg/openjdk:17.0

jobs:
  release-build:
    executor: java17
    steps:
      - checkout
      - restore_cache:
          key: gradle-{{ checksum "build.gradle.kts" }}-{{ checksum "settings.gradle.kts" }}
      - run:
         command: |
          git config --global user.email "build@tracqi.com"
          git config --global user.name "Circle CI"
      - run:
         name: "Build"
         command: ./gradlew build
      - run:
         name: "Package Distributable"
         command: ./gradlew packageDistributable
      - run:
         name: "Extract Version"
         command: |
          VERSION=$(./gradlew -q printVersion 2>/dev/null || grep 'packageVersion' build.gradle.kts | sed 's/.*"\(.*\)".*/\1/')
          echo "export VERSION_NAME=$VERSION" >> "$BASH_ENV"
          source "$BASH_ENV"
      - run: |
          cp $BASH_ENV bash.env
      - persist_to_workspace:
          root: .
          paths:
            - bash.env
      - save_cache:
          paths:
            - ~/.gradle
          key: gradle-{{ checksum "build.gradle.kts" }}-{{ checksum "settings.gradle.kts" }}
      - store_artifacts:
          path: build/compose/binaries
      - persist_to_workspace:
          root: build/compose
          paths:
            - binaries

  publish-github-release:
    docker:
      - image: cibuilds/github:0.10
    steps:
      - attach_workspace:
          at: .
      - run: |
          cat bash.env >> $BASH_ENV
      - attach_workspace:
          at: build/compose
      - run:
          name: "Publish Release on GitHub"
          command: |
            ghr -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} -delete ${VERSION_NAME} ./binaries/

workflows:
  release-build-workflow:
    jobs:
      - release-build:
          filters:
            branches:
              only:
                - master
      - publish-github-release:
         requires:
            - release-build
